.logo-name{
    font-size: 30px;
    color: white;
    border-radius: 50%;
    background-color: blueviolet;
    height: 40px;
    width: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 0;

}

.trash-button,button{
    border: 0;
    background-color: white;
}

.subjectdetails{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
}

aside,.sent-details{
    margin-left: 50px;
    display: flex;
    align-items:flex-start;
    margin-left: 5px;
    
}
.sender{
    margin-left: 25px;
}
.senderto{
   display: inline;
}

span{
    font-weight: 700;
}

h3,.time-sent{
    position: 10px;
    margin-left: 20px;
    font-size: small;
}

p,.email-body{
    font: small / 1.5 Arial, Helvetica, sans-serif;
    text-align:start;
    margin-left: 70px;
    margin-top: 10px;
}

foot, .reply-button{
    margin-top: 20px;
    margin-left: 20px;

}

.reply-button button{
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    width: 105px;
}

.reply-button button:hover {background-color: #d3dbd3}