.serch-block input { 
    position: relative;
    margin: 0px; 
    padding: 0px; 
    width: 400px;
    outline: none; 
    height: 30px; 
    border-radius: 25px; 
} 


.nav,.header-menu{
    display: flex;
    justify-content:space-between;
    
}
.header-menu{   
    padding-left: 110px;
}


.gmail-option{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 1px;
    margin-right: 15px;
    
}

