
.side-menu h6{
    margin: 3px;
    font-weight: 500;
}
.side-menu button{
    height: 60px;
    width: 150px;
    border-radius: 15px;
}
.compose-button{
    background-color: #c2e7ff;
    border-radius: 10px;
    height: 90px;
    border: 0;
    width: 100px;
    margin-top: 5px;
    font-weight: 500;
    
} 